<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
     Welcome To my Blog
    <div>
        <h1>blog app</h1>
    </div>
    <hr>
    <nav>
        <a href="/article/index">Article</a>
        <a href="/article/add">Add Article</a>
        <a href="/author/index">Author</a>
        <a href="/author/add">Add Author</a>
        <a href="/auth/signup">SignUp</a>
        <a href="/auth/signin">SignIn</a>
        <a href="/auth/signout">Log out?</a>
    </nav>
    <%- body %>
    <br><hr>
    made with love
</body>
</html>