<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->

    <!-- mo ga3den nsw ds html al end wya down w an9kh couz 
    3shan la nsw DRY(Dont Reapet Yourself) f tgdr trb6 both files 
    and like bdon ma tktb alhrar mal html tag w doc -->

    
    <%- include('../partials/header') %>
     <h3><%= todo.todo %></h3>
     <h3>Complete: <%= todo.done ? 'Done sir!' : 'Nope' %></h3>
<!-- </body>
</html> -->
<%- include('../partials/footer') %>